<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
    xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <!-- APPENDERS -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern"
		  value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	    </layout>
	</appender>
    
    <!-- 
    <appender name="APP_LOG_FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="jaxws-jetty-cxf-logging.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss.SSS} %-5p [%t][%c{1}] %m%n" />
        </layout>
    </appender>
    -->
	<!--  
    <appender name="WS_LOG_FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="jaxws-jetty-cxf-logging-ws.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss.SSS} %-5p [%t][%c{1}] %m%n" />
        </layout>
    </appender>
	-->
    <!-- LOGGERS -->
    <logger name="it.abd.esb.sign">
        <level value="DEBUG" />
    </logger>
    
    <logger name="com.codenotfound.soap.http.cxf">
        <level value="DEBUG" />
    </logger>

    <logger name="org.springframework">
        <level value="WARN" />
    </logger>
    
    <logger name="org.apache.cxf">
        <level value="DEBUG" />
    </logger>

    <!-- level INFO needed to log SOAP messages -->
    <logger name="org.apache.cxf.services" additivity="false">
        <level value="DEBUG" />
        <!-- specify a dedicated appender for the SOAP messages -->
        <!-- <appender-ref ref="WS_LOG_FILE" /> -->
    </logger>
    
     <logger name="org.apache.http">
        <level value="DEBUG" />
    </logger>

    <root>
        <level value="DEBUG" />
        <!-- <appender-ref ref="APP_LOG_FILE" /> -->
        <appender-ref ref="console" />
    </root>

</log4j:configuration>
